/ai_learning_lab - ai_learning_lab.csv.csv
/app_users.csv
/archive (1)
/assessment.ipynb
/B2 AUC ROC.pdf
/B2_Logistic_Regression_Intution.pdf
/bonus_sql_analysis.py
/cardekho_dataset.csv
/class1&2_Batch2_Data_Cleaning.ipynb
/class3&4_B2_Linear_Regression.ipynb
/cleaned_ai_learning_lab.csv
/creditcard_fraud.csv
/customers assignemt data set.csv
/data cleaning one hot encodinh.pdf
/fraud_transactions.csv
/IM 26 home work.ipynb
/IM_ 28_Homework_01_07_Coding__q.ipynb
/IM_24_B2_Regularisaton.ipynb
/IM_25_B2_Logistic_Regression.ipynb
/IM_26&27B2_Classificaiton_Metrics.ipynb
/IM_26_B2_Classificaiton_Metrics.ipynb
/IM_27_B2_Classificaiton_Metrics.ipynb
/IM_28 & 29B2_Decision_Trees_Coding.ipynb
/IM_30_B2_Random Forest.pdf
/IM_30_B2_Random_Forest.ipynb
/IM_31_B2_Class_Imbalance.ipynb
/IM_32_B2_Model_Seleciton_Hyperprmeter_tuning.ipynb
/IM_32_telco_customer_churn (1).csv
/IM_33_B2_Model_Seleciton_Hyperprmeter_tuning.ipynb
/IM_33_telco_customer_churn (1).csv
/IM_35_B2_Promt_Engineering.ipynb
/IM_36_Building_First_AI_Agent.ipynb
/learning_lab.db
/learning_summary.json
/Linear_Regression_and_Model_Interpretation homeworl.ipynb
/Linear_Regression_and_Model_Interpretation.ipynb
/Me_Batch_2_Data_cleaning.ipynb
/mini_project.py
/ML model build.ipynb
/ML modelBuild_me.ipynb
/ML_assessment.py
/ml_class1.py
/practice.ipynb
/project.ipynb
/startups.csv
/student_performance_chart.png
/study_hours_chart.png
/task3_analyze_data.py
/task4_visual_report.py
/Titanic.csv
/topic_score_chart.png
/transactions.csv
/used_cars_messy.csv